# OS
.DS_store

# Python
.env
.venv

# Cache
.pytest_cache
.ruff_cache
__pycache__

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Data
data/raw/

# Test Coverage Reports
coverage.xml